<footer class="page-footer blue-grey darken-1 foot">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Location</h5>
        <p>Chandigar,sector 33</p>
        <p>near elante mall</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="white-text" href="#home">Home</a>
          </li>
          <li>
            <a class="white-text" href="#about">Complaint</a>
          </li>
          <li>
            <a class="white-text" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4">
    <div class="container">
      City Complaint Box © 2020
    </div>
  </div>
</footer>
