<header>
  <div class="navbar-fixed">
    <nav class="blue-grey darken-1">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            Complaint Box
          </a>
          <a id="gg" data-activates="mobile-nav" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/complaint">Fill your complaints</a>
            </li>
            <li>
              <a href="#contact">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- side Nav mobile-nav -->
  <ul class="side-nav" id="mobile-nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/complaint">Fill your complaints</a>
    </li>
    <li>
      <a href="#contact">About us</a>
    </li>
  </ul>
</header>
