<!-- Gallery -->
<section class="slider">
  <ul class="slides">
    <li>
      <img src="img/pic1.jpg" alt="" />
      <div class="caption center-align">
        <h2>Broken roads!!</h2>
        <h5 class="hide-on-small-only">
          If us see broken roads or standing water complaint to us!!
        </h5>
        <a href="/complaint" class="blue-grey darken-1 btn btn-large"
          >Complaint here</a
        >
      </div>
    </li>
    <li>
      <img src="img/pic2.jpeg" alt="" />
      <div class="caption center-align">
        <h2 class="black-text">See Wild dogs</h2>
        <h5 class="black-text hide-on-small-only">
          If us see Wild dogs complaint to us!!
        </h5>
        <a href="/complaint" class="blue-grey darken-1 btn btn-large"
          >Complaint here</a
        >
      </div>
    </li>
    <li>
      <img src="img/pic3.jpg" alt="" />
      <div class="caption center-align">
        <h2>Gargbage</h2>
        <h5 class="black-text darken-4 hide-on-small-only">
          If us see Garbage or a area without garbage container complaint us!!
        </h5>
        <a href="/complaint" class="blue-grey darken-1 btn btn-large"
          >Complaint here</a
        >
      </div>
    </li>
  </ul>
</section>
<header class="main-header">
  <div class="primary-overlay">
    <div class="showcase container">
      <div class="row">
        <div class="col s12 main-text">
          <h5>You found the...</h5>
          <h1>Right Place To Start</h1>
          <p class="flow-text">
            To make your city a smart city,and make it look better by telling
            goverment about the problems you face daily.
          </p>
          <br />
          <a href="#about" class="btn btn-large white black-text">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="contact" class="section section-contact center scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel z-depth-5">
          <h4>For any query realted to site Contact Us</h4>
          <div class="input-field">
            <input type="text" id="name" placeholder="Name" />
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input type="email" id="email" placeholder="Email" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="text" id="phone" placeholder="Phone Number" />
            <label for="phone">Phone</label>
          </div>
          <div class="input-field">
            <textarea
              class="materialize-textarea"
              id="message"
              placeholder="Message"
            ></textarea>
            <label for="message">Message</label>
          </div>
          <input type="submit" value="Submit" class="btn blue-grey" />
        </div>
      </div>
    </div>
  </div>
</section>
